{% extends "layout.html"%}

{% block content%}

<div class="main-page-wrapper">

    <!-- MAIN CONTENT AREA -->
            <div class="container">
        <div class="row content-layout-wrapper align-items-start">
            
<div class="site-content col-lg-12 col-12 col-md-12" role="main">

                            <article id="post-7594" class="post-7594 page type-page status-publish hentry">

                <div class="entry-content">
                            <div data-elementor-type="wp-page" data-elementor-id="7594" class="elementor elementor-7594" data-elementor-post-type="page">
                    <section class="wd-negative-gap elementor-section elementor-top-section elementor-element elementor-element-71cdf900 elementor-section-content-middle wd-section-stretch elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="71cdf900" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;wd_curved_line&quot;}">
                        <div class="elementor-background-overlay"></div>
                    <div class="elementor-shape elementor-shape-bottom" data-negative="false">
        <svg xmlns="http://www.w3.org/2000/svg" class="wd-divider" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 viewBox="0 0 100 100" width="100%" height="50px" preserveAspectRatio="none">
<path class="elementor-shape-fill" display="none" d="M100,25.8V100H0V52.5c-4.9-6.8-9.5-13.8-15-19.7V101h125V20.9C106.3,22,103,23.7,100,25.8z"/>
<path class="elementor-shape-fill" d="M0,0v99c22-20.6,28.7-69.7,61.4-69.7c18.8,0,29.1,16.2,38.6,34V0L0,0z"/>
</svg>
    </div>
                <div class="elementor-container elementor-column-gap-extended">
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-54bdfe01" data-id="54bdfe01" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-6293046 elementor-widget elementor-widget-heading" data-id="6293046" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
        <style>/*! elementor - v3.19.0 - 28-02-2024 */
.elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}</style><h1 class="elementor-heading-title elementor-size-default">Let's Discuss <span style="color:#fb8501">Your Idea</span> </h1>		</div>
            </div>
            <div class="elementor-element elementor-element-cf46a3c color-scheme-inherit text-left elementor-widget elementor-widget-text-editor" data-id="cf46a3c" data-element_type="widget" data-widget_type="text-editor.default">
            <div class="elementor-widget-container">
        <style>/*! elementor - v3.19.0 - 28-02-2024 */
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#69727d;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#69727d;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}</style>				<p>Send us a message and we’ll be in touch.</p>						</div>
            </div>
            <div class="elementor-element elementor-element-4aa62fd elementor-widget__width-auto elementor-widget elementor-widget-wd_popup" data-id="4aa62fd" data-element_type="widget" data-widget_type="wd_popup.default">
            <div class="elementor-widget-container">
           
                        <div id="{{ url_for('main.contact') }}" class="mfp-with-anim wd-popup wd-popup-element mfp-hide" style="max-width:680px;">
            <div class="wd-popup-inner">
                            <link rel="stylesheet" id="elementor-post-7604-css" href="static/new/wp-content/uploads/elementor/css/post-76041dfb.css?ver=1723174670" type="text/css" media="all">
                <div data-elementor-type="wp-post" data-elementor-id="7604" class="elementor elementor-7604" data-elementor-post-type="cms_block">
                   
                   
                        <section class="wd-negative-gap elementor-section elementor-top-section elementor-element elementor-element-2e5c0bc0 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default wd-section-disabled" data-id="2e5c0bc0" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-background-overlay"></div>
                        <div class="elementor-container elementor-column-gap-wide">
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-5d5dd3ac color-scheme-light" data-id="5d5dd3ac" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-2d3f2031 elementor-widget elementor-widget-wd_title" data-id="2d3f2031" data-element_type="widget" data-widget_type="wd_title.default">
            <div class="elementor-widget-container">
                <div class="title-wrapper set-mb-s reset-last-child wd-title-color-default wd-title-style-default wd-title-size-large text-left">
                </div>
            </div>
            </div>
            <div class="elementor-element elementor-element-f136d20 elementor-widget elementor-widget-wpforms" data-id="f136d20" data-element_type="widget" data-widget_type="wpforms.default">
            <div class="elementor-widget-container">
        <div class="wpforms-container wpforms-container-full" id="wpforms-9725">
        
    
    
    </div>  <!-- .wpforms-container -->		</div>
            </div>
                </div>
    </div>
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-32d4a737" data-id="32d4a737" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-background-overlay"></div>
                    <div class="elementor-element elementor-element-daaa873 elementor-widget elementor-widget-wd_text_block" data-id="daaa873" data-element_type="widget" data-widget_type="wd_text_block.default">
            <div class="elementor-widget-container">
                <div class="wd-text-block reset-last-child text-left">
        
        <strong>Email:</strong> info@Jswebtron.com
<br>
<strong>Phone:</strong> <a href="https://wa.link/blv6r2" style="color:#fff;">+2348121473351</a>
                </div>
            </div>
            </div>
            <div class="elementor-element elementor-element-1aea2120 elementor-widget elementor-widget-wd_social_buttons" data-id="1aea2120" data-element_type="widget" data-widget_type="wd_social_buttons.default">
            <div class="elementor-widget-container">
        
        <div class=" wd-social-icons icons-design-bordered icons-size-default color-scheme-light social-follow social-form-circle text-left">

                                <span class="wd-label">Follow Us: </span>
            
                                <a rel="noopener noreferrer nofollow" href="https://m.facebook.com/groups/389302297917218/?ref=share&mibextid=lURqYx" target="_blank" class=" wd-social-icon social-facebook" aria-label="Facebook social link">
                    <span class="wd-icon"></span>
                                        </a>
            
                                <a rel="noopener noreferrer nofollow" href="#" target="_blank" class=" wd-social-icon social-twitter" aria-label="Twitter social link">
                    <span class="wd-icon"></span>
                                        </a>
            
            
                                <a rel="noopener noreferrer nofollow" href="#" target="_blank" class=" wd-social-icon social-instagram" aria-label="Instagram social link">
                    <span class="wd-icon"></span>
                                        </a>
            
                                <a rel="noopener noreferrer nofollow" href="#" target="_blank" class=" wd-social-icon social-youtube" aria-label="YouTube social link">
                    <span class="wd-icon"></span>
                                        </a>
            
                                <a rel="noopener noreferrer nofollow" href="#" target="_blank" class=" wd-social-icon social-pinterest" aria-label="Pinterest social link">
                    <span class="wd-icon"></span>
                                        </a>
            
            
                                <a rel="noopener noreferrer nofollow" href="https://www.linkedin.com/company/jswebtron-ltd/" target="_blank" class=" wd-social-icon social-linkedin" aria-label="Linkedin social link">
                    <span class="wd-icon"></span>
                                        </a>
            
                                <a rel="noopener noreferrer nofollow" href="https://wa.link/blv6r2" target="_blank" class="whatsapp-desktop  wd-social-icon social-whatsapp" aria-label="WhatsApp social link">
                    <span class="wd-icon"></span>
                                        </a>
                
                <a rel="noopener noreferrer nofollow" href="https://wa.link/blv6r2" target="_blank" class="whatsapp-mobile  wd-social-icon social-whatsapp" aria-label="WhatsApp social link">
                    <span class="wd-icon"></span>
                                        </a>
               
        </div>

            </div>
            </div>
                </div>
    </div>
                </div>
    </section>


            </div>
                    </div>
        </div>
                    </div>
            </div>
                </div>
    </div>
        
    </section>






    <div class="main-page-wrapper">


        <!-- MAIN CONTENT AREA -->
        <div class="container">
            <div class="row content-layout-wrapper align-items-start">
                <div data-elementor-type="wp-page" data-elementor-id="9711" class="elementor elementor-9711" data-elementor-post-type="page">
                    <section class="wd-negative-gap elementor-section elementor-top-section elementor-element elementor-element-e0723e3 elementor-section-boxed elementor-section-height-default elementor-section-height-default wd-section-disabled" data-id="e0723e3" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-804e8a1" data-id="804e8a1" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-bfbf848 elementor-widget elementor-widget-wpforms" data-id="bfbf848" data-element_type="widget" data-widget_type="wpforms.default">
                                        <div class="elementor-widget-container">
                                            <div class="wpforms-container wpforms-container-full" id="wpforms-9731">
                                                
                                                <form class="col-lg-12 col-12 col-md-12 generic-form"  method="POST"  enctype="multipart/form-data" action="">

                                                    {{ form.hidden_tag() }}

                                                    <div class="wpforms-head-container">
                                                        <div class="wpforms-title">New Client Information</div>
                                                    </div>
                                                    
                                                    
                                                    <div class="wpforms-field-container">
                                                        <div id="wpforms-9731-field_25-container" class="wpforms-field wpforms-field-divider" data-field-id="25">
                                                            <h3 id="wpforms-9731-field_25" name="wpforms[fields][25]">Personal Details</h3>
                                                            <div class="wpforms-field-description">Your personal information</div>
                                                        </div>


                                                <div  class="wpforms-field wpforms-field-name" data-field-id="1">

                                                            <label class="wpforms-field-label" for="wpforms-9731-field_1">Name <span class="wpforms-required-label">*</span></label>
                                                            
                                                            {{ form.name.label(class= "form-control-label") }}
                                                {% if form.name.errors %}
                                                    {{ form.name(class= "form-control form-control-lg is-invalid") }}
                                                    <div class="invalid-feedback">
                                                         {% for error in form.name.errors %}
                                                           <span class="alert-danger"> {{ error }} </span>
                                                         {% endfor%}
                                                    </div>
                                                {% else%}
                                                     {{ form.name(class= "form-control form-control-lg") }}
                                                {% endif%}
                                                            
                                                            </div>

                                                        <div class="wpforms-field wpforms-field-phone" data-field-id="4">
                                                            <label class="wpforms-field-label" for="wpforms-9731-field_4">Phone number <span class="wpforms-required-label">*</span></label>
                                                            
                                                            {{ form.phone.label(class= "form-control-label") }}
                                                            {% if form.phone.errors %}
                                                                {{ form.phone(class= "form-control form-control-lg is-invalid") }}
                                                                <div class="invalid-feedback">
                                                                     {% for error in form.phone.errors %}
                                                                       <span class="alert-danger"> {{ error }} </span>
                                                                     {% endfor%}
                                                                </div>
                                                            {% else%}
                                                                 {{ form.phone(class= "form-control form-control-lg") }}
                                                            {% endif%}
                                                            
                                                            </div>

                                                        <div class="wpforms-field wpforms-field-email" data-field-id="5">
                                                            <label class="wpforms-field-label" for="wpforms-9731-field_5">Email <span class="wpforms-required-label">*</span></label>
                                                            
                                                            {{ form.email.label(class= "form-control-label") }}
                                                            {% if form.email.errors %}
                                                                {{ form.email(class= "form-control form-control-lg is-invalid") }}
                                                                <div class="invalid-feedback">
                                                                     {% for error in form.email.errors %}
                                                                       <span class="alert-danger"> {{ error }} </span>
                                                                     {% endfor%}
                                                                </div>
                                                            {% else%}
                                                                 {{ form.email(class= "form-control form-control-lg") }}
                                                            {% endif%}
                                                            
                                                            </div>
                                                            
                                                        <div class="wpforms-field wpforms-field-divider" data-field-id="24">
                                                            <h3 id="wpforms-9731-field_24" name="wpforms[fields][24]">Company Details</h3>
                                                            <div class="wpforms-field-description">Your company information: Try to be as detailed as possible to help us understand how best to serve you.</div>
                                                        </div>

                                                        <div class="wpforms-field wpforms-field-text" data-field-id="2">
                                                            <label class="wpforms-field-label" for="wpforms-9731-field_2">Company name <span class="wpforms-required-label">*</span></label>
                                                            
                                                            {{ form.companyname.label(class= "form-control-label") }}
                                                            {% if form.companyname.errors %}
                                                                {{ form.companyname(class= "form-control form-control-lg is-invalid") }}
                                                                <div class="invalid-feedback">
                                                                     {% for error in form.companyname.errors %}
                                                                       <span class="alert-danger"> {{ error }} </span>
                                                                     {% endfor%}
                                                                </div>
                                                            {% else%}
                                                                 {{ form.companyname(class= "form-control form-control-lg") }}
                                                            {% endif%}
                                                            </div>

                                                        <div class="wpforms-field wpforms-field-address" data-field-id="6">
                                                            <label class="wpforms-field-label" for="wpforms-9731-field_6">Company address <span class="wpforms-required-label">*</span></label>

                                                            <div class="wpforms-field-row wpforms-field-medium">
                                                                <div>
                                                                    {{ form.companyaddress.label(class= "form-control-label") }}
                                                                    {% if form.companyaddress.errors %}
                                                                        {{ form.companyaddress(class= "form-control form-control-lg is-invalid") }}
                                                                        <div class="invalid-feedback">
                                                                             {% for error in form.companyaddress.errors %}
                                                                               <span class="alert-danger"> {{ error }} </span>
                                                                             {% endfor%}
                                                                        </div>
                                                                    {% else%}
                                                                         {{ form.companyaddress(class= "form-control form-control-lg") }}
                                                                    {% endif%}
                                                                    
                                                                    <label for="wpforms-9731-field_6"
                                                                        class="wpforms-field-sublabel after ">Address Line 1</label></div>
                                                            </div>

                                                            <div class="wpforms-field-row wpforms-field-medium">
                                                                <div class="wpforms-field-row-block wpforms-one-half wpforms-first">
                                                                    
                                                                    {{ form.addressline.label(class= "form-control-label") }}
                                                                    {% if form.addressline.errors %}
                                                                        {{ form.addressline(class= "form-control form-control-lg is-invalid") }}
                                                                        <div class="invalid-feedback">
                                                                             {% for error in form.addressline.errors %}
                                                                               <span class="alert-danger"> {{ error }} </span>
                                                                             {% endfor%}
                                                                        </div>
                                                                    {% else%}
                                                                         {{ form.addressline(class= "form-control form-control-lg") }}
                                                                    {% endif%}
                                                                    
                                                                    <label for="wpforms-9731-field_6-city"
                                                                        class="wpforms-field-sublabel after ">City</label></div>
                                                                <div class="wpforms-field-row-block wpforms-one-half">
                                                                    
                                                                    {{ form.city.label(class= "form-control-label") }}
                                                                    {% if form.city.errors %}
                                                                        {{ form.city(class= "form-control form-control-lg is-invalid") }}
                                                                        <div class="invalid-feedback">
                                                                             {% for error in form.city.errors %}
                                                                               <span class="alert-danger"> {{ error }} </span>
                                                                             {% endfor%}
                                                                        </div>
                                                                    {% else%}
                                                                         {{ form.city(class= "form-control form-control-lg") }}
                                                                    {% endif%}
                                                                    
                                                                    <label for="wpforms-9731-field_6-state"
                                                                        class="wpforms-field-sublabel after ">State / Province / Region</label></div>
                                                            </div>
                                                        </div>

                                                        <div id="wpforms-9731-field_18-container" class="wpforms-field wpforms-field-textarea" data-field-id="18">
                                                            
                                                            <label class="wpforms-field-label" for="wpforms-9731-field_18">What are your products or services?</label>
                                                            
                                                            {{ form.products.label(class= "form-control-label") }}
                                                            {% if form.products.errors %}
                                                                {{ form.products(class= "form-control form-control-lg is-invalid") }}
                                                                <div class="invalid-feedback">
                                                                     {% for error in form.products.errors %}
                                                                       <span class="alert-danger"> {{ error }} </span>
                                                                     {% endfor%}
                                                                </div>
                                                            {% else%}
                                                                 {{ form.products(class= "form-control form-control-lg") }}
                                                            {% endif%}
                                                            <div
                                                                class="wpforms-field-description">What do you do?</div>
                                                    </div>

                                                    <div id="wpforms-9731-field_19-container" class="wpforms-field wpforms-field-text" data-field-id="19">
                                                        
                                                        <label class="wpforms-field-label" for="wpforms-9731-field_19">Who is your target audience?</label>
                                                        
                                                        {{ form.target.label(class= "form-control-label") }}
                                                        {% if form.target.errors %}
                                                            {{ form.target(class= "form-control form-control-lg is-invalid") }}
                                                            <div class="invalid-feedback">
                                                                 {% for error in form.target.errors %}
                                                                   <span class="alert-danger"> {{ error }} </span>
                                                                 {% endfor%}
                                                            </div>
                                                        {% else%}
                                                             {{ form.target(class= "form-control form-control-lg") }}
                                                        {% endif%}
                                                        
                                                      
                                            </div>

                                            

                                            <div class="wpforms-field wpforms-field-textarea" data-field-id="29"><label class="wpforms-field-label" for="wpforms-9731-field_29">Describe your brand in as much detail as possible</label>
                                                {{ form.describe.label(class= "form-control-label") }}
                                                {% if form.describe.errors %}
                                                    {{ form.describe(class= "form-control form-control-lg is-invalid") }}
                                                    <div class="invalid-feedback">
                                                         {% for error in form.describe.errors %}
                                                           <span class="alert-danger"> {{ error }} </span>
                                                         {% endfor%}
                                                    </div>
                                                {% else%}
                                                     {{ form.describe(class= "form-control form-control-lg") }}
                                                {% endif%}
                                            </div>

                                            <div  class="wpforms-field wpforms-field-textarea" data-field-id="30"><label class="wpforms-field-label" for="wpforms-9731-field_30">What do you hope to achieve by working with us?</label>
                                                {{ form.achieve.label(class= "form-control-label") }}
                                                {% if form.achieve.errors %}
                                                    {{ form.achieve(class= "form-control form-control-lg is-invalid") }}
                                                    <div class="invalid-feedback">
                                                         {% for error in form.achieve.errors %}
                                                           <span class="alert-danger"> {{ error }} </span>
                                                         {% endfor%}
                                                    </div>
                                                {% else%}
                                                     {{ form.achieve(class= "form-control form-control-lg") }}
                                                {% endif%}
                                            </div>


                                        <div id="wpforms-9731-field_13-container" class="wpforms-field wpforms-field-text" data-field-id="13">
                                            <label class="wpforms-field-label" for="wpforms-9731-field_13">Brand colors</label>
                                            {{ form.brandcolor.label(class= "form-control-label") }}
                                            {% if form.brandcolor.errors %}
                                                {{ form.brandcolor(class= "form-control form-control-lg is-invalid") }}
                                                <div class="invalid-feedback">
                                                     {% for error in form.brandcolor.errors %}
                                                       <span class="alert-danger"> {{ error }} </span>
                                                     {% endfor%}
                                                </div>
                                            {% else%}
                                                 {{ form.brandcolor(class= "form-control form-control-lg") }}
                                            {% endif%}
                                          
                                    </div>


                                    <div id="wpforms-9731-field_15-container" class="wpforms-field wpforms-field-checkbox wpforms-conditional-trigger" data-field-id="15"><label class="wpforms-field-label" for="wpforms-9731-field_15">Do you have a tagline or slogan?</label>
                                        {{ form.slogan.label(class= "form-control-label") }}
                                        {% if form.slogan.errors %}
                                            {{ form.slogan(class= "form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                 {% for error in form.slogan.errors %}
                                                   <span class="alert-danger"> {{ error }} </span>
                                                 {% endfor%}
                                            </div>
                                        {% else%}
                                             {{ form.slogan(class= "form-control form-control-lg") }}
                                        {% endif%}
                                    </div>
                                    
                                    <div class="wpforms-field wpforms-field-checkbox wpforms-list-2-columns wpforms-conditional-trigger" data-field-id="26"><label class="wpforms-field-label" for="wpforms-9731-field_26">How can customers contact you? <span class="wpforms-required-label">*</span></label>
                                        
                                        {{ form.cos_contact.label(class= "form-control-label") }}
                                        {% if form.cos_contact.errors %}
                                            {{ form.cos_contact(class= "form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                 {% for error in form.cos_contact.errors %}
                                                   <span class="alert-danger"> {{ error }} </span>
                                                 {% endfor%}
                                            </div>
                                        {% else%}
                                             {{ form.cos_contact(class= "form-control form-control-lg") }}
                                        {% endif%}
                                        
                                </div>

                                <div id="wpforms-9731-field_28-container"
                                    class="wpforms-field wpforms-field-checkbox wpforms-conditional-trigger" data-field-id="28"><label class="wpforms-field-label" for="wpforms-9731-field_28">Social media</label>

                                    {{ form.socialmedia.label(class= "form-control-label") }}
                                    {% if form.socialmedia.errors %}
                                        {{ form.socialmedia(class= "form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                             {% for error in form.socialmedia.errors %}
                                               <span class="alert-danger"> {{ error }} </span>
                                             {% endfor%}
                                        </div>
                                    {% else%}
                                         {{ form.socialmedia(class= "form-control form-control-lg") }}
                                    {% endif%}
                                    <div class="wpforms-field-description">What social media is your Company on? Select all that apply</div>
                                </div> 
                </div>


                <div class="wpforms-submit-container">
                    {{ form.submit( class="col-md-4 col-sm-6 btn btn-success") }}
                </div>
                </form>
            </div>
            <!-- .wpforms-container -->
        </div>
    </div>
</div>
</div>
</div>
</section>
</div>
</div>
<!-- .main-page-wrapper -->
</div>
<!-- end row -->
</div>
<!-- end container -->












    

{% endblock content%}









