{% extends "layout.html"%}

{% block content%}

<div class="main-page-wrapper">


    <!-- MAIN CONTENT AREA -->
    <div class="container">
        <div class="row content-layout-wrapper align-items-start">

            <div class="site-content col-lg-12 col-12 col-md-12" role="main">

                <article id="post-4439" class="post-4439 page type-page status-publish hentry">

                    <div class="entry-content">
                        <div data-elementor-type="wp-page" data-elementor-id="4439" class="elementor elementor-4439" data-elementor-post-type="page">
                            <section class="wd-negative-gap elementor-section elementor-top-section elementor-element elementor-element-b69ceea elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default wd-section-disabled"
                                data-id="b69ceea" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;wd_curved_line&quot;}">
                                <div class="elementor-background-overlay"></div>
                                <div class="elementor-shape elementor-shape-bottom" data-negative="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="wd-divider" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" width="100%" height="50px" preserveAspectRatio="none">
<path class="elementor-shape-fill" display="none" d="M100,25.8V100H0V52.5c-4.9-6.8-9.5-13.8-15-19.7V101h125V20.9C106.3,22,103,23.7,100,25.8z"/>
<path class="elementor-shape-fill" d="M0,0v99c22-20.6,28.7-69.7,61.4-69.7c18.8,0,29.1,16.2,38.6,34V0L0,0z"/>
</svg>
                                </div>
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-977f3c2" data-id="977f3c2" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <section class="wd-negative-gap elementor-section elementor-inner-section elementor-element elementor-element-643c828 elementor-section-boxed elementor-section-height-default elementor-section-height-default wd-section-disabled" data-id="643c828" data-element_type="section">
                                                <div class="elementor-container elementor-column-gap-default">
                                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-900d4ac" data-id="900d4ac" data-element_type="column">
                                                        <div class="elementor-widget-wrap elementor-element-populated">
                                                            <div class="elementor-element elementor-element-d8c48a5 elementor-widget elementor-widget-heading" data-id="d8c48a5" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <style>
                                                                        /*! elementor - v3.16.0 - 14-09-2023 */

                                                                        .elementor-heading-title {
                                                                            padding: 0;
                                                                            margin: 0;
                                                                            line-height: 1
                                                                        }

                                                                        .elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a {
                                                                            color: inherit;
                                                                            font-size: inherit;
                                                                            line-height: inherit
                                                                        }

                                                                        .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                                                                            font-size: 15px
                                                                        }

                                                                        .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                                                                            font-size: 19px
                                                                        }

                                                                        .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                                                                            font-size: 29px
                                                                        }

                                                                        .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                                                                            font-size: 39px
                                                                        }

                                                                        .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                                                                            font-size: 59px
                                                                        }
                                                                    </style>
                                                                    <h1 class="elementor-heading-title elementor-size-default">Contact <span style="color:#fb8501">Us</span></h1>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-c0a7331 color-scheme-inherit text-left elementor-widget elementor-widget-text-editor" data-id="c0a7331" data-element_type="widget" data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <style>
                                                                        /*! elementor - v3.16.0 - 14-09-2023 */

                                                                        .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                                                                            background-color: #69727d;
                                                                            color: #fff
                                                                        }

                                                                        .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                                                                            color: #69727d;
                                                                            border: 3px solid;
                                                                            background-color: transparent
                                                                        }

                                                                        .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                                                                            margin-top: 8px
                                                                        }

                                                                        .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                                                                            width: 1em;
                                                                            height: 1em
                                                                        }

                                                                        .elementor-widget-text-editor .elementor-drop-cap {
                                                                            float: left;
                                                                            text-align: center;
                                                                            line-height: 1;
                                                                            font-size: 50px
                                                                        }

                                                                        .elementor-widget-text-editor .elementor-drop-cap-letter {
                                                                            display: inline-block
                                                                        }
                                                                    </style>
                                                                    <p>Send us a message and we&#8217;ll be in touch.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6f27eee" data-id="6f27eee" data-element_type="column">
                                                        <div class="elementor-widget-wrap">
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="wd-negative-gap elementor-section elementor-top-section elementor-element elementor-element-1c9344a2 elementor-section-boxed elementor-section-height-default elementor-section-height-default wd-section-disabled" data-id="1c9344a2" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-wider">
                                    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-41bec3dc" data-id="41bec3dc" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            <div class="elementor-element elementor-element-8fda279 elementor-widget elementor-widget-wd_title" data-id="8fda279" data-element_type="widget" data-widget_type="wd_title.default">
                                                <div class="elementor-widget-container">
                                                    <div class="title-wrapper set-mb-s reset-last-child wd-title-color-primary wd-title-style-overlined wd-title-size-medium text-left">


                                                        <div class="liner-continer">
                                                            <h4 class="woodmart-title-container title wd-fontsize-xl">Send A <span style="color:#fb8501">Message</span></h4>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-8294c77 elementor-widget elementor-widget-wpforms" data-id="8294c77" data-element_type="widget" data-widget_type="wpforms.default">
                                                <div class="elementor-widget-container">
                                                    <div class="wpforms-container wpforms-container-full" id="wpforms-9029">
                                                        <form id="wpforms-form-9029" class="wpforms-validate wpforms-form wpforms-ajax-form" data-formid="9029" method="POST" enctype="multipart/form-data" action="" data-token="9ff81bac441c6d31c6121605e235b893">
                                                            {{ form.hidden_tag() }}
                                                            <noscript class="wpforms-error-noscript">Please enable JavaScript in your browser to complete this form.</noscript>
                                                            <div class="wpforms-field-container">
                                                                <div id="wpforms-9029-field_1-container" class="wpforms-field wpforms-field-name" data-field-id="1">
                                                                    <label class="wpforms-field-label" for="wpforms-9029-field_1">Your Name <span class="wpforms-required-label">*</span></label>
                                                                    {{ form.name.label(class= "form-control-label") }}
                                                                        {% if form.name.errors %}
                                                                            {{ form.name(class= "form-control form-control-lg is-invalid") }}
                                                                            <div class="invalid-feedback">
                                                                                 {% for error in form.name.errors %}
                                                                                   <span class="alert-danger"> {{ error }} </span>
                                                                                 {% endfor%}
                                                                            </div>
                                                                        {% else%}
                                                                             {{ form.name(class= "form-control form-control-lg") }}
                                                                        {% endif%}
                                                                    
                                                                    </div>
                                                                <div id="wpforms-9029-field_2-container" class="wpforms-field wpforms-field-email" data-field-id="2"><label class="wpforms-field-label" for="wpforms-9029-field_2">Your Email <span class="wpforms-required-label">*</span></label>
                                                                    {{ form.contact_email.label(class= "form-control-label") }}
                                                                    {% if form.contact_email.errors %}
                                                                        {{ form.contact_email(class= "form-control form-control-lg is-invalid") }}
                                                                         <div class="invalid-feedback">
                                                                              {% for error in form.contact_email.errors%}
                                                                                <span class="alert-danger"> {{ error }} </span>
                                                                              {% endfor%}
                                                                         </div>
                                                                     {% else %}
                                                                          {{ form.contact_email(class= "form-control form-control-lg") }}
                                                                     {% endif%}
                                                                </div>
                                                                <div id="wpforms-9029-field_3-container" class="wpforms-field wpforms-field-phone" data-field-id="3"><label class="wpforms-field-label" for="wpforms-9029-field_3">Your Phone</label>
                                                                    {{ form.contact_phone.label(class= "form-control-label") }}
                                                                      {% if form.contact_phone.errors %}
                                                                          {{ form.contact_phone(class= "form-control form-control-lg is-invalid") }}
                                                                           <div class="invalid-feedback">
                                                                                {% for error in form.contact_phone.errors%}
                                                                                  <span class="alert-danger"> {{ error }} </span>
                                                                                {% endfor%}
                                                                           </div>
                                                                       {% else %}
                                                                            {{ form.contact_phone(class= "form-control form-control-lg") }}
                                                                       {% endif%}
                                                                </div>
                                                                <div id="wpforms-9029-field_4-container" class="wpforms-field wpforms-field-text" data-field-id="4"><label class="wpforms-field-label" for="wpforms-9029-field_4">Brand Name</label>
                                                                    {{ form.subject.label(class= "form-control-label") }}
                                                                    {% if form.subject.errors %}
                                                                       {{ form.subject(class= "form-control form-control-lg is-invalid") }}
                                                                        <div class="invalid-feedback">
                                                                             {% for error in form.subject.errors %}
                                                                               <span class="alert-danger"> {{ error }} </span>
                                                                             {% endfor%}
                                                                        </div>
                                                                    {% else%}
                                                                         {{ form.subject(class= "form-control form-control-lg") }}
                                                                    {% endif%}
                                                                </div>
                                                                <div
                                                                    id="wpforms-9029-field_5-container" class="wpforms-field wpforms-field-textarea" data-field-id="5"><label class="wpforms-field-label" for="wpforms-9029-field_5">Your Message</label>
                                                                    {{ form.message.label(class= "form-control-label") }}
                                                                        {% if form.message.errors %}
                                                                            {{ form.message(class= "form-control form-control-lg is-invalid") }}
                                                                            <div class="invalid-feedback">
                                                                                 {% for error in form.message.errors%}
                                                                                    <span class="alert-danger"> {{ error }} </span>
                                                                                 {% endfor%}
                                                                            </div>
                                                                        {% else%}
                                                                             {{ form.message(class= "form-control form-control-lg") }}
                                                                        {% endif%}
                                                                </div>
                                                    </div>
                                                    <br>
                                                    <div class="wpforms-submit-container">
                                                        <input type="hidden" name="wpforms[id]" value="9029"><input type="hidden" name="wpforms[author]" value="1"><input type="hidden" name="wpforms[post_id]" value="4439">{{ form.submit( class="col-md-3 col-sm-6 btn btn-success") }}
                                                            <img decoding="async" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2026%2026'%3E%3C/svg%3E"
                                                            class="wpforms-submit-spinner" style="display: none;" width="26" height="26" alt="Loading" data-lazy-src="https://www.casvodigital.com/wp-content/plugins/wpforms/assets/images/submit-spin.svg"><noscript><img decoding="async" src="https://www.casvodigital.com/wp-content/plugins/wpforms/assets/images/submit-spin.svg" class="wpforms-submit-spinner" style="display: none;" width="26" height="26" alt="Loading"></noscript></div>
                                                    </form>
                                                </div>
                                                <!-- .wpforms-container -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-a4e7846" data-id="a4e7846" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-bb5587e elementor-widget elementor-widget-wd_title" data-id="bb5587e" data-element_type="widget" data-widget_type="wd_title.default">
                                            <div class="elementor-widget-container">
                                                <div class="title-wrapper set-mb-s reset-last-child wd-title-color-primary wd-title-style-overlined wd-title-size-medium text-left">


                                                    <div class="liner-continer">
                                                        <h4 class="woodmart-title-container title wd-fontsize-xl">Reach <span style="color:#fb8501">Out</span></h4>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-a619a46 elementor-position-left elementor-mobile-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="a619a46" data-element_type="widget"
                                            data-widget_type="icon-box.default">
                                            <div class="elementor-widget-container">
                                                <link rel="preload" href="https://www.casvodigital.com/wp-content/plugins/elementor/assets/css/widget-icon-box.min.css" data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" onerror="this.removeAttribute('data-rocket-async')">
                                                <div class="elementor-icon-box-wrapper">
                                                    <div class="elementor-icon-box-icon">
                                                        <span class="elementor-icon elementor-animation-">
        <i aria-hidden="true" class="fa fa-whatsapp"></i>				</span>
                                                    </div>
                                                    <div class="elementor-icon-box-content">
                                                        <h3 class="elementor-icon-box-title">
                                                            <span>
                                                                +2349160112979					</span>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-7ce8c80 elementor-position-left elementor-mobile-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="7ce8c80" data-element_type="widget"
                                            data-widget_type="icon-box.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-icon-box-wrapper">
                                                    <div class="elementor-icon-box-icon">
                                                        <span class="elementor-icon elementor-animation-">
        <i aria-hidden="true" class="fa fa-phone"></i>				</span>
                                                    </div>
                                                    <div class="elementor-icon-box-content">
                                                        <h3 class="elementor-icon-box-title">
                                                            <span>
                +2349160112979 | +2349070907600					</span>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-8f27871 elementor-position-left elementor-mobile-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="8f27871" data-element_type="widget"
                                            data-widget_type="icon-box.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-icon-box-wrapper">
                                                    <div class="elementor-icon-box-icon">
                                                        <span class="elementor-icon elementor-animation-">
        <i aria-hidden="true" class="fa fa-envelope"></i>				</span>
                                                    </div>
                                                    <div class="elementor-icon-box-content">
                                                        <h3 class="elementor-icon-box-title">
                                                            <span>
                info@jswebtron.com | digital@jswebtron.ng					</span>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-3ff5f47 elementor-position-left elementor-mobile-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="3ff5f47" data-element_type="widget"
                                            data-widget_type="icon-box.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-icon-box-wrapper">
                                                    <div class="elementor-icon-box-icon">
                                                        <span class="elementor-icon elementor-animation-">
        <i aria-hidden="true" class="fa fa-location-arrow"></i>				</span>
                                                    </div>
                                                    <div class="elementor-icon-box-content">
                                                        <h3 class="elementor-icon-box-title">
                                                            <span>
                 Enugu, Nigeria.					</span>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-ca45155 elementor-widget elementor-widget-wd_social_buttons" data-id="ca45155" data-element_type="widget" data-widget_type="wd_social_buttons.default">
                                            <div class="elementor-widget-container">

                                                <div class="  icons-size-small  social-follow social-form-circle text-left">


                                                    <a rel="noopener noreferrer nofollow" href="https://m.facebook.com/groups/389302297917218/?ref=share&mibextid=lURqYx" target="_blank" class=" wd-social-icon fa fa-facebook" aria-label="Facebook social link">
                <span class="wd-icon"></span>
                                    </a>

                                                    <a rel="noopener noreferrer nofollow" href="#" target="_blank" class=" wd-social-icon fa fa-twitter" aria-label="Twitter social link">
                <span class="wd-icon"></span>
                                    </a>


                                                    <a rel="noopener noreferrer nofollow" href="#" target="_blank" class=" wd-social-icon fa fa-instagram" aria-label="Instagram social link">
                <span class="wd-icon"></span>
                                    </a>

                                                    <a rel="noopener noreferrer nofollow" href="#" target="_blank" class=" wd-social-icon fa fa-youtube" aria-label="YouTube social link">
                <span class="wd-icon"></span>
                                    </a>

                                                    <a rel="noopener noreferrer nofollow" href="#" target="_blank" class=" wd-social-icon fa fa-pinterest" aria-label="Pinterest social link">
                <span class="wd-icon"></span>
                                    </a>


                                                    <a rel="noopener noreferrer nofollow" href="https://www.linkedin.com/company/jswebtron-ltd/" target="_blank" class=" wd-social-icon fa fa-linkedin" aria-label="Linkedin social link">
                <span class="wd-icon"></span>
                                    </a>

                                                    <a rel="noopener noreferrer nofollow" href="https://wa.link/blv6r2" target="_blank" class="whatsapp-mobile  wd-social-icon fa fa-whatsapp" aria-label="WhatsApp social link">
                <span class="wd-icon"></span>
                                    </a>






                                                </div>

                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-c3ce01d elementor-widget elementor-widget-google_maps" data-id="c3ce01d" data-element_type="widget" data-widget_type="google_maps.default">
                                            <div class="elementor-widget-container">
                                                <style>
                                                    /*! elementor - v3.16.0 - 14-09-2023 */

                                                    .elementor-widget-google_maps .elementor-widget-container {
                                                        overflow: hidden
                                                    }

                                                    .elementor-widget-google_maps .elementor-custom-embed {
                                                        line-height: 0
                                                    }

                                                    .elementor-widget-google_maps iframe {
                                                        height: 300px
                                                    }
                                                </style>
                                                <div class="elementor-custom-embed">
                                                    <iframe loading="lazy" src="about:blank" title="Jswebtron" aria-label="Jswebtron" data-rocket-lazyload="fitvidscompatible" data-lazy-src="https://maps.google.com/maps?q=Casvo%20Digital&#038;t=m&#038;z=10&#038;output=embed&#038;iwloc=near"></iframe><noscript><iframe loading="lazy"
            src="https://maps.google.com/maps?q=Casvo%20Digital&#038;t=m&#038;z=10&#038;output=embed&#038;iwloc=near"
            title="Jswebtron"
            aria-label="Jswebtron"
    ></iframe></noscript>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </section>
                    </div>
            </div>


            </article>
            <!-- #post -->



        </div>
        <!-- .site-content -->



    </div>
    <!-- .main-page-wrapper -->
</div>
<!-- end row -->
</div>
<!-- end container -->

        
    {% endblock content%}